.App {
  text-align: center;
  padding: 20px;
}

h2 {
  color: #000000;
}


input[type="text"]{
  border-radius: 5px;
  height: 35px;
  width:300px;
}

input[type="submit"]{
  background-color: orange;
  border-radius: 5px;
  padding: 6px 12px;
  border-color: transparent;
}

input[type="submit"]:hover{
  background-color: orangered;
  outline: none;
}
